.Deck {
    height:100%;
    margin-top: 30px;
    margin-left: 20px;
    width:15%;
}

.Hand {
    min-height:100%;
    width:70%;
}

.Discard {
    height:100%;
    margin-top: 30px;
    margin-left: 20px;
    width:15%;
}

.CardContainer {
    position:relative;
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content:space-around;
    height:90%;
    width:80%;
    margin:auto;
    padding-bottom: 1%
}

// .PlayButton {
//     position:absolute;
//     z-index: 1;
//     top:45%;
//     left:35%;
//     height:10%;
//     width:10%;
//     border-radius:10px;
//     background-color:rgb(101, 170, 101);
// }

// .finishButton{
//     position:absolute;
//     z-index: 1;
//     top:45%;
//     left:45%;
//     height:10%;
//     width:10%;
//     border: 2px solid gold;
//     border-radius:10px;
//     background-color:rgb(101, 170, 101);
// }

// .ShopButton {
//     position:absolute;
//     z-index: 1;
//     top:45%;
//     left:45%;
//     height:10%;
//     width:10%;
//     border: 2px solid gold;
//     border-radius:10px;
//     background-color:rgb(101, 170, 101);
// }

.testButton {
    position:absolute;
    z-index: 1;
    top:0;
    left:0;
    height:10%;
    width:20%;
    border: 2px solid gold;
    border-radius:10px;
    background-color:rgb(101, 170, 101);
}