.Pioche {
    min-height:100%;
    width:15%;
    border : 2px solid red;
}

.Hand {
    min-height:100%;
    width:70%;
    border : 2px solid blue;
}

.Defausse {
    min-height:100%;
    width:15%;
    border : 2px solid yellow;
}

.CardContainer {
    height:90%;
    width:80%;
    border: 2px solid black;
    margin:auto;
}