.earthContainer {
  position: relative;
  width: 60%;
  height: 60%;
  user-select: none;

  .earthImg {
    position: absolute;
  }

  .earthGreen{
      top:39%;
      left: 36%;
      width: 90%;
  }

  .earthDead {
    left: 29%;
    width: 200%;
  }
}