.earthContainer {
  position: relative;
  width: 280px;
  height: 280px;

  .earthImg {
    position: absolute;
  }

  .earthGreen{
      top:40%;
      left: 40%;
      width: 90%;
  }

  .earthDead {
    left: 34%;
    width: 200%;
  }
}
