.batteryContainer {
  margin: auto;
  position: relative;
  transform: rotate(90deg);
  height: 130px;
  width: 65px;

  .batteryBar {
    position: absolute;
    left: 20%;
    background-color: green;
    border: 1px solid #000000;
    width: 60%;
    height: 16%;
  }
}