.GameContainer {
    position: relative;
    display:flex;
    flex-direction:column;
    height:calc(100vh - 120px);
    width:100%;
}

.GameContainerUpper {
    display:flex;
    // justify-content: center;
    height:50%;
    width:100%;
}

.EarthContainer {
    // height:30%;
    min-width:25%;
}

.EarthContainer > .spaceImg {
    position:absolute;
    top:0;
    left:0;
    height:45%;
    width:100%;
  }

.ShopContainer {
    display:flex;
    align-items:center;
    min-height:100%;
    width:55%;
}

.GameTray {
    position: relative;
    display:flex;
    flex-direction:row;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 70%;
    height:61%;
    width:100%;
    box-shadow: 0 -10px 15px 10px #010b1a;
}

.HandInner {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    height:100%;
    width:100%;
}

.ShopDiv {
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    height:95%;
    width:95%;
    margin:auto;
}

.ShopCard {
    height: 45%;
    width: 30%;
}