.full-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-family: var(--font-family-text);
    font-size: 1.2rem;
    color: var(--text-color);
    background: #010b1a;
    border-bottom: 1px solid #cccccc;
    z-index: 2;   

  }
  
  .navigation {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .instructions-part{
    display: flex;
    justify-content: flex-end;
  }
  .logo-nav{
    width: 4%;
    margin-left: 3%;
  }