.full-navigation {
    width: 100%;
    font-family: var(--font-family-text);
    font-size: 1.5rem;
    color: var(--text-color);
    background: rgba(7, 1, 1, 0.836);
    backdrop-filter: blur(4px);
    z-index: 2;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
  }