.full-navigation {
  width: 100%;
  font-family: var(--font-family-text);
  font-size: 1.2rem;
  color: var(--text-color);
  background: #010b1a;
  z-index: 2;
  display: flex;
  user-select: none;
}

.navigation {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.instructions-part {
  display: flex;
  justify-content: flex-end;
}
.logo-nav {
  width: 4%;
  margin-left: 3%;
}

.navigation-name {
  transition: all 0.4s ease-in-out;
}

.navigation-name:hover {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
    0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
}
